*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg_1:#C1C1C1;
  --inne_grey:#D9D9D9;
  --button_grey:#979797;
  --shadow:  0px 7px 5px -1px rgba(94,94,94,0.69);
}
.main-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--button_grey);
}
h3{
font-size: 6em;
}
a{
  text-decoration: none;
  color: black;
}
h1{
  text-decoration: none;
  font-size: 8em;
  cursor: pointer;
  transition: 0.3s all ease;
}
h1:hover{
  color: var(--inne_grey);
}