


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg_color:#C1C1C1;
  --circle_button_color:#D9D9D9;
  --circle_button_bg_color:#979797;
  --main_button_font_color: #FFFAFA;
  --main_button_bg_color:#a1a1a1;
  --main_button_hover_color:#0d0d0d;
 
 
 
  --dark_bg_color:#0d0d0d;
  --dark_font_color: #b1b1b1;
  --dark_circle_button_color:#D9D9D9;
  --dark_circle_button_bg_color:#979797;
  --dark_main_button_span_bg_color:#F27A0A;
  --dark_main_button_span_hover_color:#D9D9D9;
  --shadow:  0px 7px 5px -1px rgba(94,94,94,0.69);
  


}
body{
  background-color: var(--bg_color);
  font-family: 'IBM Plex Mono', monospace;
}
img{
  width: 26px;
  height: 26px;
  align-self: center;
  justify-self: center;
  opacity:60%;
}
img:hover{
  opacity: 100%;
}
a{
  display: flex;
  justify-content: center;
  align-items: center;
}
#night{
  width: 27px;
  height: 27px;
  align-self: center;
  justify-self: center;
}
.canvas{
  height: 100vh;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 10% 80% 10%;
}
.header{
  grid-column: 2 ;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
.upper_round_button_container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  

}
.round_button{
  background-color:var(--circle_button_bg_color) ;
  height: 49px;
  width: 49px;
  border-radius: 100%;
  margin-left: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.round_button:hover{
  background-color:var(--main_button_hover_color);
}
.inner-circle{
  width: 25px;
  height: 25px;
  background-color: var(--circle_button_color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.canvas>.text-box{
  grid-column: 1;
  grid-row-start: 1 ;
  grid-row-end: 3;
  font-size:64px;
  
}
#span_lower{
  font-weight: bold;
}
#span_upper{
  font-weight: bold;
}
.text-box>p{
  margin-left:39px ;
  margin-top: 45px;
  
}
.canvas>.operations-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  grid-column: 2;
  }
  input{
  height: 68px;
  width: 440px;
  border-radius: 50px;
  border: none;
  margin-right: 160px;
  font-size: 24px;
  color: var(--button_grey_bg);
  padding-left: 20px;
  outline: none;
  padding-bottom:20 ;
  font-family: 'IBM Plex Mono', monospace;
  box-shadow: var(--shadow);
    
  }
  #ABC_button{
  width: 142px;
  height: 60px;
  margin-right:39px ;
  border-radius: 50px;
  border: none;
  margin-top: 28px;
  cursor: pointer;
  font-size: 32px;
  text-align: center;
  background-color:var(--main_button_bg_color) ;
  color:var(--main_button_font_color);
  font-family: 'IBM Plex Mono', monospace;
  box-shadow: var(--shadow);
  transition:300ms;
    

  }
  #ABC_button:hover{
    background-color: var(--main_button_hover_color);
  }

  #abc_button{
  width: 142px;
  height: 60px;
  margin-right:160px ;
  border-radius: 50px;
  border: none;
  margin-top: 28px;
  cursor: pointer;
  text-align: center;
  font-size: 32px;
  background-color: var(--main_button_bg_color);
  color:var(--main_button_font_color);
  font-family: 'IBM Plex Mono', monospace;
  box-shadow: var(--shadow);
  transition:300ms;

  }
#abc_button:hover {
   background-color: var(--main_button_hover_color);
  }
#round_button_bottom{
  display: flex;
  justify-content: center;
  align-items: center;

}
#logo{
  width: 35px;
  height: 35px;
  opacity: 100%;
  transition: 300ms;
}
#logo:hover{
  filter: invert(1);
  
}
.footer{
  grid-column:  span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-start: 3;
  grid-row-end:4 ;
  
}

#copyrights{
  display: flex;
  justify-content: center;
  align-items: center;
}

#year{
  display: flex;
  justify-content: flex-end;
  align-items:center ;
  margin-right: 20px;
}
.footer>div{
  display: flex;
  justify-content: flex-start;
  align-items:center ;
}
#round_button_bottom{
  display: flex;
  justify-self: flex-start;
  align-self:center;
  cursor: pointer;
}

/* =========================== DARK MODE  ===========================*/
body.dark{
  background-color: var(--dark_bg_color);
  color: var(--dark_font_color);
  font-family: 'IBM Plex Mono', monospace;
}
.round_button.dark{
  background-color:var(--dark_circle_button_bg_color) ;
  height: 49px;
  width: 49px;
  border-radius: 100%;
  margin-left: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.round_button.dark:hover{
  background-color:var(--dark_main_button_span_hover_color);
}
.inner-circle.dark{
  width: 25px;
  height: 25px;
  background-color:var(--circle_button_bg_color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input.dark{
  height: 68px;
  width: 440px;
  border-radius: 50px;
  border: none;
  background-color:var(--dark_circle_button_color) ;
  margin-right: 160px;
  font-size: 24px;
  color: var(--dark_bg_color);
  outline: none;
  padding-bottom:20 ;
  font-family: 'IBM Plex Mono', monospace;
  box-shadow: none;
  
    
    }
    #ABC_button.dark{
    width: 142px;
    height: 60px;
    margin-right:39px ;
    border-radius: 50px;
    border: none;
    margin-top: 28px;
    cursor: pointer;
    font-size: 32px;
    text-align: center;
    background-color:var(--dark_main_button_span_bg_color) ;
    color:var(--main_button_font_color);
    font-family: 'IBM Plex Mono', monospace;
    box-shadow: none;
    transition:300ms;
      
  
    }
    #ABC_button.dark:hover{
      background-color: var(--dark_main_button_span_hover_color);
    }
  
    #abc_button.dark{
    width: 142px;
    height: 60px;
    margin-right:160px ;
    border-radius: 50px;
    border: none;
    margin-top: 28px;
    cursor: pointer;
    text-align: center;
    font-size: 32px;
    background-color:var(--dark_main_button_span_bg_color) ;
    color:var(--main_button_font_color);
    font-family: 'IBM Plex Mono', monospace;
    box-shadow: none;
    transition:300ms;
  
    }
    #abc_button.dark:hover {
      background-color: var(--dark_main_button_span_hover_color);
    }

    #span_lower.dark{
      color: var(--dark_main_button_span_bg_color);
      font-weight: bold;
    }
    #span_upper.dark{
      color: var(--dark_main_button_span_bg_color);
      font-weight: bold;
    }